@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-color: #E3C990;
    --secondary-color: #9CB498;
    --font-family: 'Inter', sans-serif;
    --font-size-h1: 42px;
    --font-size-h2: 38px;
    --font-size-h3: 30px;
    --font-size-p: 20px;

}


body{
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 28px;
}
/* Navigation */
.navbar li a{
    font-weight: 700;
    font-size: var(--font-size-p);
    color: #000;
    /* padding: 10px 20px; */
    /* transition: all 0.3s ease; */
}


.navbar li a:hover{
    color: #000;
    background-color: var(--primary-color);
    /* border-radius: 5px; */
}



