@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-color: #E3C990;
    --secondary-color: #9CB498;
    --tertiary-color: #D7C19D;
    --font-family: 'Inter', sans-serif;
    --font-size-h1: 42px;
    --font-size-h2: 38px;
    --font-size-h3: 30px;
    --font-size-p: 20px;

}


body{
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 28px;
}
/* Header Section */
.navbar li a{
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    font-size: var(--font-size-p);
}

.navbar li a:hover{
    background-color: var(--primary-color);
    color: #000;
    transition: 0.5s ease-in-out;
}

.hero-text p{
    font-size: var(--font-size-p);
    font-weight: 300;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #000000;
    --bs-btn-border-color: #000000;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #5c5c5c00;
    --bs-btn-hover-border-color: var(--primary-color);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a57ca00;
    --bs-btn-active-border-color: #0a52be00;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}
/* End of header section */

/* Contact Styles */
.contact-nav ul a{
    color: #000;
}

.container-header h1{
    color: #000;
}
.contact-header p{
    font-size: var(--font-size-p);
    color: #000;
    font-weight: 400;

}

.contact-form input, textarea{
    border: 1px solid #000;
}

.contact-form .btn{
    font-size: var(--font-size-p);
    color: #fff;
    background-color: #000;
    padding: 0.5rem 1.5rem;

}
.contact-form .btn:hover{
    background-color: #fff;
    border: solid var(--primary-color);
    color: #000;
    transition: 0.5s ease-in-out;
}
/* End of Contact Styles */

/* About Styles */
.bio-bg h2, .bio-bg p{
    color: #000;
}
.bio-bg p, .skills_tools li{
    font-size: var(--font-size-p);
    font-weight: 400;
}

.about-quote{
    font-size: var(--font-size-p);
    font-weight: 400;
    color: #fff;
    background-color: #000;
}
/* End of About Styles */

/* services Section */
.services-col h2{
    color: #000;
}
.services-col p{
    font-size: var(--font-size-p);
    font-weight: 400;
}
.services-col ul li{
    font-size: var(--font-size-p);
    font-weight: 400;
    color: #000;
}
/* End of Services */



/* Portfolio Section */
.port-prev{
    background-color: #000;
}
.port-prev p{
    font-size: var(--font-size-p);
    font-weight: 400;
}
/* End of Portfolio Preview Section */

/* Interested in Working With Section */
.companies h2{
    color: #000;
}
.companies-img{
    max-width: 100%;
    height: auto;
}
.companies-img img {
    width: auto;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
/* End of Interested in Working With Section */

/* Quote */
.quote{
    font-size: var(--font-size-p);
    font-weight: 400;
}

/* End of Quote */

/* Footer */
footer{
    background-color: var(--tertiary-color);
}
footer p{
    font-size: var(--font-size-p);
}

footer ul li{
    padding-top: 1.1rem;
}

footer ul li a{
    text-decoration: none;
    color: #000;
    font-size: var(--font-size-p);
    font-weight: 300;
    padding: 0.5rem;
    border-bottom: 2px solid #A89781;
}
footer a:hover{
    background-color: #A89781;
    transition: 0.5s ease-in-out;
}

.footer-social input[type="email"]{
background-color: var(--tertiary-color);
border: 1px solid #000;

}
.footer-social button{
    background-color: var(--tertiary-color);
    border: 1px solid #000;
}
.footer-social button:hover{
    background-color: #000;
    color: #fff;
    transition: 0.5s ease-in-out;
}
/* End of Footer */
